@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
  /* background: #F8FAF5; */
  /* background: #b9ceac; */
  font-size: 13px;
  line-height: 14px;
  letter-spacing: -0.234px;
  font-weight: 500;
}

@media (min-width: 768px){
  body {
    line-height: 17px;
    letter-spacing: -0.288px;
  }
}

#swiper-frame:hover .arrow {
  opacity: 1;
}

#left {
  cursor: url(/sp_arrow_left.svg), pointer;
}

#right {
  cursor: url(/sp_arrow_right.svg), auto;
}

.swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 0.8) !important;
}

a:hover {
  opacity: .7;
}

a {
  transition: opacity 200ms cubic-bezier(.4, 0, .2, 1);
}