@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
  background: #F8FAF5;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: -0.234px;
  font-weight: 500;
}
